.box {
    text-align: center;
    .btn {
        display: inline-block;
        height: 30px;
        text-decoration: none;
        line-height: 30px;
        border: 1px solid #ccc;
        background-color: #fff;
        padding: 0 10px;
        color: #333;
        font-size: 14px;
        &:hover {
            color: #333;
        }
    }
}